@import "tailwindcss";

@theme {
    --spacing: 1px;
    --color-violet-500: #646cff;
    --color-violet-600: #535bf2;
    --color-black-500: #242424;
    --color-white-500: #FFFFFFDD;
    --font-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
